Repository Contler/monorepo-web, pull requests merged in 2020-10, with the labels that each got.

#41 [SHTL-182] Change of order statuses.
  libs/const/order-status.ts
Labels: bug

#50 [SHTL-190] Add number of people in the reservation
  apps/hotel/src/reservation/pages/calendar/calendar.component.ts
Labels: merge available

#56 [SHTL-208] Translate texts
  apps/guest/src/home/pages/drink-request/drink-request.component.ts
  apps/guest/src/home/pages/inmediate-request/inmediate-request.component.ts
  apps/guest/src/home/pages/special-request/special-request.component.ts
  apps/guest/src/home/pages/zone-request/zone-request.component.ts
  apps/guest/src/services/messages/messages.service.ts
Labels: merge available, ready for revision

#55 [SHTL-203] Change of labels
  apps/guest/src/home/components/modal-qualify/modal-qualify.component.html
Labels: merge available, ready for revision

#62 [SHTL-206] Confirmation message
  apps/guest/src/reservation/page/create-reservation/create-reservation.component.ts
Labels: merge available

#63 [SHTL-210] Huésped - Cuando creo un wakeup call, el botón de "create request" sale con texto negro sobre fondo azul.
  apps/guest/src/home/pages/create-wake/create-wake.component.html
  apps/guest/src/home/pages/create-wake/create-wake.component.ts
Labels: merge available

#64 [SHTL-211] App - En los wakeup calls, revisar los estilos, puntualmente el margin entre una solicitud y la otra
  apps/mobile/src/app/wake-up/components/wake/wake.component.scss
  apps/mobile/src/app/wake-up/pages/wake-complete/wake-complete.component.scss
  apps/mobile/src/app/wake-up/pages/wake-pending/wake-pending.component.scss
Labels: merge available

#65 [SHTL-202] App - Adentro de la solicitud inmediata no se ve el título del placeholder "empleado"
  apps/mobile/src/app/modals/modal-inmediate-request/modal-inmediate-request.page.html
Labels: merge available

#66 [SHTL-205] Admin - En las solicitudes especiales, al lado del nombre dle huésped sale un número "Lina bustamante 16" qué es? Quitémoslo
  apps/hotel/src/inmediate-requests/page/inmediate-requests/inmediate-requests.component.html
Labels: hotel, merge available

#67 [SHTL-207] Admin - En las solicitudes inmediatas, una vez cumplidas, no se ven las estrellas, solo el mensaje
  apps/hotel/src/common-components/common-components.module.ts
  apps/hotel/src/common-components/modal-inmediate-request/modal-inmediate-request.component.html
Labels: hotel, ready for revision

#68 Feature/shtl 193
  apps/hotel/src/inmediate-requests/components/reception-request/reception-request.component.html
  apps/hotel/src/inmediate-requests/components/reception-request/reception-request.component.scss
  apps/hotel/src/inmediate-requests/components/reception-request/reception-request.component.ts
  apps/hotel/src/inmediate-requests/components/request/request.component.html
  apps/hotel/src/inmediate-requests/components/request/request.component.scss
  apps/hotel/src/inmediate-requests/components/request/request.component.ts
  apps/hotel/src/inmediate-requests/const/request.const.ts
  apps/hotel/src/inmediate-requests/inmediate-requests.module.ts
  apps/hotel/src/inmediate-requests/page/inmediate-requests/inmediate-requests.component.html
  apps/hotel/src/inmediate-requests/page/inmediate-requests/inmediate-requests.component.ts
  libs/core/src/lib/services/user.service.ts
Labels: hotel, ready for revision

#69 [SHTL-212] App - En el popup de confirmación si ya se hizo el wakeup call, el botón azul no se lee qué dice
  apps/mobile/src/app/booking/booking.component.html
  apps/mobile/src/app/booking/booking.component.ts
  apps/mobile/src/app/booking/booking.module.ts
  apps/mobile/src/app/booking/components/modal-confirm/modal-confirm.component.html
  apps/mobile/src/app/wake-up/components/modal-confirm-wake/modal-confirm-wake.component.html
  apps/mobile/src/app/wake-up/components/modal-confirm-wake/modal-confirm-wake.component.ts
  apps/mobile/src/app/wake-up/wake-up.module.ts
Labels: employer, merge available

#73 [SHTL-186] Como un administrador necesito ver de qué restaurante se piden los productos así podré saber cómo ordenar el pedido
  apps/hotel/src/order/pages/view-order/view-order.component.html
Labels: hotel, ready for revision

#72 [SHTL-201] App - Las notificaciones de pedidos no están llegando
  libs/core/src/lib/services/product.service.ts
Labels: guest, ready for revision

#75 [SHTL-216] Huésped - Todos los Toast dicen cerrar, cambiar a close
  apps/guest/src/late-check-out/modal/create-late/create-late.component.ts
  apps/guest/src/reservation/page/create-reservation/create-reservation.component.ts
  apps/guest/src/services/messages/messages.service.ts
Labels: guest, ready for revision

#76 [SHTL-218] Huésped - Cuando califico, elijo las estrellas, sale la calificación en español.. ejemplo "Excelente"
  apps/guest/src/home/components/modal-booking-qualify/modal-booking-qualify.component.ts
  apps/guest/src/home/components/modal-orders-quialify/modal-orders-quialify.component.ts
  apps/guest/src/home/components/modal-qualify/modal-qualify.component.ts
  apps/guest/src/pipes/score-label.pipe.ts
Labels: guest, ready for revision

#77 [SHTL-219] App - Cuando entro a una solicitud Especial, no funciona el botón de back
  apps/mobile/src/app/modals/modal-special-request/modal-special-request.page.html
  apps/mobile/src/app/modals/modal-special-request/modal-special-request.page.ts
Labels: employer, ready for revision

#78 [SHTL-220] App - Dentro de una solicitud especial aparece el logo del hotel de prueba
  apps/mobile/src/app/modals/modal-special-request/modal-special-request.page.html
  apps/mobile/src/app/modals/modal-special-request/modal-special-request.page.ts
Labels: employer, ready for revision

#79 [SHTL-221] Admin - En el home donde aparecen 9 opciones de acceso.
  apps/hotel/src/home/page/admin-home/admin-home.component.ts
Labels: hotel, merge available

#80 [SHTL-223] Admin - Que en el perfil se pueda ver el correo del huésped
  apps/hotel/src/guest/components/modal-edit-guest/modal-edit-guest.component.html
  apps/hotel/src/guest/components/modal-edit-guest/modal-edit-guest.component.ts
  libs/entity/guest.entity.ts
Labels: hotel, ready for revision

#81 [SHTL-224] Admin - Que en el perfil se pueda ver el correo del empleado
  apps/hotel/src/common-components/modal-edit-employer/modal-edit-employer.component.html
  apps/hotel/src/common-components/modal-edit-employer/modal-edit-employer.component.ts
  libs/entity/employer.entity.ts
Labels: hotel, ready for revision

#82 [SHTL-231] App y huésped - Al hacer clic en el logo que regrese al home
  apps/guest/src/common-components/common-components.module.ts
  apps/guest/src/common-components/marco/marco.component.html
  apps/guest/src/common-components/sidebar/sidebar.component.html
  apps/mobile/src/app/booking/booking.component.html
  apps/mobile/src/app/clean/clean.component.html
  apps/mobile/src/app/common-components/common-components.module.ts
  apps/mobile/src/app/common-components/logo/logo.component.html
  apps/mobile/src/app/common-components/logo/logo.component.scss
  apps/mobile/src/app/common-components/logo/logo.component.ts
  apps/mobile/src/app/home/home.page.html
  apps/mobile/src/app/home/home.page.ts
  apps/mobile/src/app/home/inmediate-requests/pending-inmediate-requests/pending-inmediate-requests.page.html
  apps/mobile/src/app/home/inmediate-requests/ready-inmediate-requests/ready-inmediate-requests.page.html
  apps/mobile/src/app/home/special-requests/active-special-requests/active-special-requests.page.html
  apps/mobile/src/app/home/special-requests/past-special-requests/past-special-requests.page.html
  apps/mobile/src/app/latecheck-out/latecheck-out.component.html
  apps/mobile/src/app/latecheck-out/latecheck-out.module.ts
  apps/mobile/src/app/maintain/maintain.component.html
  apps/mobile/src/app/modals/modal-special-request/modal-special-request.page.html
  apps/mobile/src/app/order/order.module.ts
  apps/mobile/src/app/order/pages/order-complete/order-complete.component.html
  apps/mobile/src/app/order/pages/order-detail/order-detail.component.html
  apps/mobile/src/app/order/pages/order-pending/order-pending.component.html
  apps/mobile/src/app/reception/reception.component.html
  apps/mobile/src/app/statistic/statistic.component.html
  apps/mobile/src/app/statistic/statistic.module.ts
  apps/mobile/src/app/wake-up/pages/wake-complete/wake-complete.component.html
  apps/mobile/src/app/wake-up/pages/wake-pending/wake-pending.component.html
Labels: employer, guest, ready for revision

#85 [SHTL-228] Admin - Cuando edito la solicitud inmediata (empleado o estado) y le doy guardar no aparece, debo refrescar la página.
  apps/hotel/src/inmediate-requests/components/request/request.component.ts
Labels: hotel, ready for revision

#83 [SHTL-221] Admin - En el home donde aparecen 9 opciones de acceso debemos dejar las siguientes:
  apps/hotel/src/home/page/admin-home/admin-home.component.html
  apps/hotel/src/home/page/admin-home/admin-home.component.ts
  apps/hotel/src/inmediate-requests/page/inmediate-requests/inmediate-requests.component.ts
Labels: hotel, ready for revision

#84 [SHTL-229] Huésped - Si estoy logueado como un huésped, y se pasa mi fecha de salida, igual puedo seguir pidiendo cosas.
  apps/guest/src/app/app-routing.module.ts
  apps/guest/src/app/app.module.ts
  apps/guest/src/common-components/common-components.module.ts
  apps/guest/src/common-components/guards/avalible-user.guard.ts
Labels: guest, ready for revision

#86 [SHTL-230] Como un administrador necesito ver el menú agrupado así podré navegarlo más fácil
  apps/hotel/src/material/components/interfaces/children-menu.interface.ts
  apps/hotel/src/material/components/interfaces/item-menu.interface.ts
  apps/hotel/src/material/components/menu-list-item/menu-list-item.component.html
  apps/hotel/src/material/components/menu-list-item/menu-list-item.component.scss
  apps/hotel/src/material/components/menu-list-item/menu-list-item.component.spec.ts
  apps/hotel/src/material/components/menu-list-item/menu-list-item.component.ts
  apps/hotel/src/material/components/menu/menu.component.html
  apps/hotel/src/material/components/menu/menu.component.ts
  apps/hotel/src/material/material.module.ts
Labels: hotel, ready for revision

#87 [SHTL-233] Como un administrador necesito acceder a las calificaciones de los empleados desde la sección de empleados así podré llegar rápidamente
  apps/hotel/src/employer/employer.module.ts
  apps/hotel/src/employer/page/employer/employer.component.html
  apps/hotel/src/employer/page/employer/employer.component.scss
Labels: hotel, ready for revision

#88 [SHTL-234] En el saludo del huésped (¡Hello Mateo!) Quitar el primer signo ay que no existe en inglés.
  apps/guest/src/home/pages/guest-requests/guest-requests.component.html
Labels: guest, ready for revision

#89 [SHTL-235] Como un administrador necesito editar las zonas destacadas así podré actualizar cuáles quiero que sean las principales.
  apps/hotel/src/guest/page/guest/guest.component.html
  apps/hotel/src/material/material.module.ts
  apps/hotel/src/zone/components/modal-edit-zone/modal-edit-zone.component.html
  apps/hotel/src/zone/components/modal-edit-zone/modal-edit-zone.component.ts
  apps/hotel/src/zone/page/zone/zone.component.html
  apps/hotel/src/zone/page/zone/zone.component.scss
  apps/hotel/src/zone/page/zone/zone.component.ts
Labels: hotel, ready for revision

#90 [SHTL-201] App - Las notificaciones de pedidos no están llegando
  apps/mobile/src/app/services/notifications.service.ts
Labels: employer, ready for revision

#91 [SHTL-237] Como un administrador necesito un acceso directo a las zonas de reserva así podré acceder más rápido
  apps/hotel/src/material/components/menu/menu.component.ts
Labels: hotel, ready for revision

#92 [SHTL-238] Admin - Huéspedes - No funciona el filtro de Activo - Inactivos
  apps/hotel/src/guest/guest.module.ts
  apps/hotel/src/guest/page/guest/guest.component.html
  apps/hotel/src/guest/page/guest/guest.component.ts
Labels: hotel, ready for revision

#93 Revert "[SHTL-238] Admin - Huéspedes - No funciona el filtro de Activo - Inactivos"
  apps/hotel/src/guest/guest.module.ts
  apps/hotel/src/guest/page/guest/guest.component.html
  apps/hotel/src/guest/page/guest/guest.component.ts
Labels: hotel, ready for revision

#94 [SHTL-238] Admin - Huéspedes - No funciona el filtro de Activo - Inactivos
  apps/hotel/src/guest/guest.module.ts
  apps/hotel/src/guest/page/guest/guest.component.html
  apps/hotel/src/guest/page/guest/guest.component.ts
Labels: hotel, ready for revision

#96 [SHTL-245] App - Reservas - ver el nombre del huésped y la habitación
  apps/mobile/src/app/booking/booking.component.html
Labels: employer, ready for revision

#95 [SHTL-241] App - A todas las secciones que tengan las pestañas de Pendientes/Resueltas, en el título sumarle la palabra resueltas o pendientes para que sea fácil de identificar. "Wakeup Calls resueltas"
  apps/mobile/src/app/wake-up/pages/wake-complete/wake-complete.component.html
  apps/mobile/src/app/wake-up/pages/wake-pending/wake-pending.component.html
Labels: employer, ready for revision
